<div class="search-list-defective-products-laser page-content">
  <div class="main-screen">
    <p class="main-screen-title">{{ "sqrm.SQ_L14000" | translate }}</p>
  </div>

  <div class="sub-screen">
    <div class="sub-screen-title">{{ "sqrm.SQ_L14001" | translate }}
      <a href="#" style="float: right;"><u>{{ "sqrm.SQ_L14002" | translate }}</u></a>
    </div>
    <div class="sub-screen-container">
      <table>
        <tr>
          <td><p class="required">{{ "sqrm.SQ_L14003" | translate }}</p></td>
          <td>
            <select style="width:40%">
              <option>Laser</option>
              <option></option>
            </select>
          </td>
          <td><p>{{ "sqrm.SQ_L14004" | translate }}</p></td>
        <td><select style="width: 40%;">
              <option>-</option>
            </select>&nbsp;
            <select>
              <option>-</option>
            </select>
        </td>
          <td><p>{{ "sqrm.SQ_L14005" | translate }}</p></td>
          <td><select style="width: 100%;">
            <option>-</option>
          </select>   
          </td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14006" | translate }}</p></td>
          <td>
            <input type="text" class="text" style="width: calc(60% - 18px)">
          </td>
          <td><p>{{ "sqrm.SQ_L14007" | translate }}</p></td>
          <td><wj-input-date id="reportDateInit" format="yyyy/MM/dd" style="width: 55%;"></wj-input-date>&nbsp;-<br>
            <wj-input-date id="reportDateInit" format="yyyy/MM/dd" style="width: 55%;"></wj-input-date></td>
          <td><p>{{ "sqrm.SQ_L14008" | translate }}</p></td>
          <td><select style="width: 70%;"><option>-</option></select></td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14009" | translate }}</p></td>
          <td><input type="text" class="text" style="width: calc(60% - 18px);"></td>
          <td><p>{{ "sqrm.SQ_L14010" | translate }}</p></td>
          <td><input type="text" class="text" style="width: calc(60% - 18px);"><br>
            <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14011" | translate }}</button></td>
            <td><p>{{ "sqrm.SQ_L14012" | translate }}</p></td>
            <td>
              <input type="text" class="text" style="width: calc(70% - 18px)">
            </td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14013" | translate }}</p></td>
          <td><select style="width: 100%;"><option>-</option></select></td>
          <td><p>{{ "sqrm.SQ_L14014" | translate }}</p></td>
        <td><select style="width: 50%;"><option>-</option></select><br>
        <select style="width: 60%;"><option>-</option></select></td>
        <td><p>{{ "sqrm.SQ_L14015" | translate }}</p></td>
        <td><input type="text" class="text" style="width: calc(100% - 18px)"></td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14016" | translate }}</p></td>
          <td><input type="text" class="text" style="width: calc(70% - 18px)"></td>
          <td><p>{{ "sqrm.SQ_L14017" | translate }}</p></td>
          <td>
            <input type="text" class="text" style="width: calc(70% - 18px)">
          </td>
        </tr>
      </table>
      <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14018" | translate }}</button>&nbsp;
      <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14019" | translate }}</button>
    </div>
  </div>

  <div class="sub-screen-title">
    {{ "sqrm.SQ_L14020" | translate }}
    <a href="#" style="float: right;"><u>{{ "sqrm.SQ_L14021" | translate }}</u></a>
  </div>

    <div class="tblcheck" style="border: 1px solid #757474;padding:2px;padding-bottom: 20px;">
      <tr class="div">
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span> 
      <label class="div-cell">{{ "sqrm.SQ_L14022" | translate }}
      </label>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14023" | translate }}
      </label>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14024" | translate }}
      </label>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14025" | translate }}
      </label>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14026" | translate }}
      </label>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14027" | translate }}
      </label>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14028" | translate }}
      </label>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14029" | translate }}
      </label></tr>
    
      <tr class="div">
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span> 
      <label class="div-cell">{{ "sqrm.SQ_L14030" | translate }}
      </label>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14031" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14032" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14033" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14034" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14035" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14036" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14037" | translate }}
      </label></tr>
  
  
      <tr class="div">
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14038" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14039" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14040" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14041" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14042" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14043" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14044" | translate }}
      </label>
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14045" | translate }}
      </label></tr>
  
      <tr class="div">
        <input type="checkbox">
        <span class="checkmark"></span>
      <label class="div-cell">{{ "sqrm.SQ_L14046" | translate }}
      </label>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>   
      <label class="div-cell">{{ "sqrm.SQ_L14047" | translate }}
      </label>
      <label class="div-cell">
      </label>
      <label class="div-cell">
      </label>
      <label class="div-cell">
      </label>
      <label class="div-cell">
      </label>
      <label class="div-cell">
      </label>
      <label class="div-cell">
      </label> 
     
      <div class="btnright" style="padding:5px;">
        <button type="button" class="btn" style="border: 1px solid;">{{ "sqrm.SQ_L14048" | translate }}</button>&nbsp;
        <button type="button" class="btn" style="border: 1px solid;">{{ "sqrm.SQ_L14049" | translate }}</button>
      </div> </tr>
      </div>
  
    <div class="sub-screen-container">
    <div class="sub-screen-title">{{ "sqrm.SQ_L14050" | translate }}&nbsp;
      {{ "sqrm.SQ_L14051" | translate }}&nbsp;
      {{ "sqrm.SQ_L14052" | translate }}&nbsp;-&nbsp;
      {{ "sqrm.SQ_L14053" | translate }}
     
      <div class="btnright">
          <button type="button" class="btn" style="border:1px solid">{{ "sqrm.SQ_L14054" | translate }}</button>&nbsp;
          <button type="button" class="btn" style="border:1px solid">{{ "sqrm.SQ_L14055" | translate }}</button>        
      </div>
    </div>

      <wj-multi-row #returnedSamplesGrid
        [headersVisibility]="'Column'" 
        [selectionMode]="'None'"
        [itemsSource]="SampleData"
      >

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="select" [header]="'sqrm.SQ_L14056' | translate" [rowspan]="3" [width]="50">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
              <input type="checkbox" style="text-align: center;vertical-align: middle;width: 100%;">
            </ng-template>
          </wj-multi-row-cell>
        </wj-multi-row-cell-group>
        
        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="receptionNo" header="{{ 'sqrm.SQ_L14057' | translate }}" [width]="150"></wj-multi-row-cell>
          <wj-multi-row-cell binding="receptionDate" header="{{ 'sqrm.SQ_L14058' | translate }}" [width]="150"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="customerName" header="{{ 'sqrm.SQ_L14059' | translate }}" [width]="150"></wj-multi-row-cell>
          <wj-multi-row-cell binding="productName" header="{{ 'sqrm.SQ_L14060' | translate }}" [width]="150"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="category" header="{{ 'sqrm.SQ_L14061' | translate }}" [width]="150"></wj-multi-row-cell>
          <wj-multi-row-cell binding="productCategory1" header="{{ 'sqrm.SQ_L14062' | translate }}" [width]="150"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="customerSampleNo" [header]="'sqrm.SQ_L14063' | translate" [minWidth]="200"></wj-multi-row-cell>
          <wj-multi-row-cell binding="sonySampleNo" [header]="'sqrm.SQ_L14064' | translate" [minWidth]="200"></wj-multi-row-cell>
        </wj-multi-row-cell-group>
        
        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="markLotNo" [header]="'sqrm.SQ_L14065' | translate" [minWidth]="150"></wj-multi-row-cell>
          <wj-multi-row-cell binding="serialNo" [header]="'sqrm.SQ_L14066' | translate" [minWidth]="150"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group >
          <wj-multi-row-cell binding="dateOfFailureOccurence" [header]="'sqrm.SQ_L14067' | translate" [minWidth]="200"></wj-multi-row-cell>
          <wj-multi-row-cell binding="regionOfFailure" [header]="'sqrm.SQ_L14068' | translate" [minWidth]="200"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="processOfFailure" [header]="'sqrm.SQ_L14069' | translate" [minWidth]="200"></wj-multi-row-cell>
          <wj-multi-row-cell binding="detailProcessOfFailure" [header]="'sqrm.SQ_L14070' | translate" [minWidth]="200"></wj-multi-row-cell>
        </wj-multi-row-cell-group>
        
        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="failureMode" [header]="'sqrm.SQ_L14071' | translate" [minWidth]="200"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="initialAnalysis" [header]="'sqrm.SQ_L14072' | translate" [colspan]="5" [minWidth]="550"></wj-multi-row-cell>
          <wj-multi-row-cell binding="appearance" [header]="'sqrm.SQ_L14073' | translate" [minWidth]="100"></wj-multi-row-cell>
          <wj-multi-row-cell binding="nfpObserv" [header]="'sqrm.SQ_L14074' | translate" [minWidth]="100"></wj-multi-row-cell>
          <wj-multi-row-cell binding="electricalOpticalCharacteristics" [header]="'sqrm.SQ_L14075' | translate" [minWidth]="250"></wj-multi-row-cell>
          <wj-multi-row-cell binding="ldLeak" [header]="'sqrm.SQ_L14076' | translate" [minWidth]="100"></wj-multi-row-cell>
          <wj-multi-row-cell binding="detailsOfAnalysis" [header]="'sqrm.SQ_L14077' | translate" [minWidth]="250">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
              <textarea type ="text" rows ="2" max=500 style="overflow-y: scroll;width: 100%;"></textarea>
            </ng-template>
          </wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="detailedInvestigation" [header]="'sqrm.SQ_L14078' | translate" [colspan]="4" [minWidth]="450"></wj-multi-row-cell>
          <wj-multi-row-cell binding="resultOfCharacteristicsEvaluation" [header]="'sqrm.SQ_L14079' | translate" [minWidth]="250">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
              <textarea type ="text" rows ="2" max=500 style="overflow-y: scroll;width: 100%;"></textarea>
            </ng-template>
          </wj-multi-row-cell>
          <wj-multi-row-cell binding="judgement1" [header]="'sqrm.SQ_L14080' | translate" [minWidth]="100"></wj-multi-row-cell>
          <wj-multi-row-cell binding="judgement2" [header]="'sqrm.SQ_L14081' | translate" [minWidth]="100"></wj-multi-row-cell>
          <wj-multi-row-cell binding="resultOfDetailedInvestigation" [header]="'sqrm.SQ_L14082' | translate" [minWidth]="200">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
              <textarea type ="text" rows ="2" max=500 style="overflow-y: scroll;width: 100%;"></textarea>
            </ng-template>
          </wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="judgement" [header]="'sqrm.SQ_L14083' | translate" [minWidth]="150"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="responsibility" [header]="'sqrm.SQ_L14084' | translate" [minWidth]="150"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="lastUpdate" [header]="'sqrm.SQ_L14085' | translate" [minWidth]="150"></wj-multi-row-cell>
          <wj-multi-row-cell binding="lastUpdatedBy" [header]="'sqrm.SQ_L14086' | translate" [minWidth]="150"></wj-multi-row-cell>
        </wj-multi-row-cell-group> 
        
      </wj-multi-row>
    </div>

    <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14087" | translate }}</button>&nbsp;
    <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14088" | translate }}</button>

 