<!-- LSI request -->
<div class="sub-screen">
  <div class="sub-screen-title">
      <div *ngIf = "currentRoute === 'lsi-request'">
         {{ "sqrm.SQ_L01004" | translate }}
      </div>
      <div *ngIf = "currentRoute === 'lsi-request'">
        <button class="btn btn-secondary">{{ "sqrm.SQ_L01024" | translate }}</button>
      </div>
      <div *ngIf = "currentRoute === 'lsi-answer' || currentRoute ==='lsi-approval'">
        {{ "sqrm.SQ_L01009" | translate }}
      </div>
  </div>
  <div class="sub-screen-container">
    <div>
      <textarea class="form-textarea style1"></textarea>
    </div>
  </div>
</div>