<div class="page-content">
    <div class="main-screen">
        <p class="main-screen-title">{{ "sqrm.SQ_L01000" | translate }}</p>
        <button class="btn btn-primary btn-fw">{{ "sqrm.SQ_L01015" | translate }}</button>
    </div>
    <app-main-screen-links></app-main-screen-links>
    <app-outline-request-laser></app-outline-request-laser>
    <app-information-returned-samples-laser></app-information-returned-samples-laser>
    <app-attached-file-laser></app-attached-file-laser>
    <app-remarks-laser></app-remarks-laser>
    <app-workflow-laser></app-workflow-laser>
    <app-select-destination-request-laser></app-select-destination-request-laser>
    <app-email-destination-request-laser></app-email-destination-request-laser>
    <app-select-destination-analysis-laser></app-select-destination-analysis-laser>
    <app-email-destination-analysis-laser></app-email-destination-analysis-laser>
    <app-footer-laser></app-footer-laser>
  </div>