<div class="main-screen-links">
    <!-- LSI -->
    <a [routerLink]="'/initial-analysis/lsi-request'">LSI Request</a>
    <a [routerLink]="'/initial-analysis/lsi-answer'">LSI Answer</a>
    <a [routerLink]="'/initial-analysis/lsi-approval'">LSI Approval</a>
    <!-- IS -->
    <a [routerLink]="'/initial-analysis/is-request'">IS Request</a>
    <a [routerLink]="'/initial-analysis/is-answer'">IS Answer</a>
    <a [routerLink]="'/initial-analysis/is-approval'">IS Approval</a>
    <!-- MDD -->
    <a [routerLink]="'/initial-analysis/mdd-request'">MDD Request</a>
    <a [routerLink]="'/initial-analysis/mdd-answer'">MDD Answer</a>
    <a [routerLink]="'/initial-analysis/mdd-approval'">MDD Approval</a>
    <!-- MDD -->
    <a [routerLink]="'/initial-analysis/laser-request'">Laser Request</a>
    <a [routerLink]="'/initial-analysis/laser-answer'">Laser Answer</a>
    <a [routerLink]="'/initial-analysis/laser-approval'">Laser Approval</a>
</div>