<div class="search-project-selection page-content">
  <div class="main-screen">
    <p class="main-screen-title">{{ "sqrm.SQ_L14678" | translate }}</p>
  </div>

  <div class="sub-screen">
    <div class="sub-screen-title">{{ "sqrm.SQ_L14679" | translate }}
      <a href="#" style="float: right;"><u>{{ "sqrm.SQ_L14680" | translate }}</u></a>
    </div>
    <div class="sub-screen-container">
      <table>
        <tr>
          <td><p class="required">{{ "sqrm.SQ_L14681" | translate }}</p></td>
          <td>
            <select>
              <option>LSI</option>
              <option></option>
            </select>
          </td>
          <td><p class="required">{{ "sqrm.SQ_L14682" | translate }}</p></td>
          <td><select style="width: 50%;"><option>MOS</option></select>&nbsp;
              <select style="width: 20%;"><option>-</option></select>
          </td> 
        <tr>
          <td><p>{{ "sqrm.SQ_L14683" | translate }}</p></td>
          <td>
            <input type="text" value="S2" class="text" style="width: calc(70% - 18px)">
          </td>
          <td><p>{{ "sqrm.SQ_L14684" | translate }}</p></td>
          <td><wj-input-date id="reportDateInit" format="yyyy/MM/dd" style="width: 40%;"></wj-input-date>&nbsp;-&nbsp;
            <wj-input-date id="reportDateInit" format="yyyy/MM/dd" style="width: 40%;"></wj-input-date></td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14685" | translate }}</p></td>
          <td><input type="text" class="text" style="width: calc(70% - 18px);"></td>
          <td><p>{{ "sqrm.SQ_L14686" | translate }}</p></td>
          <td><input type="text" class="text" style="width: 45%;"><br>
              <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14687" | translate }}</button></td>  
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14688" | translate }}</p></td>
          <td><select style="width: 45%;"><option>ITS-LSI</option></select><br>
              <select style="width: 50%;"><option>-</option></select>
          </td> 
        </tr>
      </table>
    </div>
    <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14689" | translate }}</button>
  </div>

  <div class="sub-screen">
    <div class="sub-screen-title">
      {{ "sqrm.SQ_L14690" | translate }}
        {{ "sqrm.SQ_L14691" | translate }}&nbsp;
        {{ "sqrm.SQ_L14692" | translate }}&nbsp;-&nbsp;
        {{ "sqrm.SQ_L14693" | translate }}
      
      <div class="sub-screen-title-right" style="float: right;">
      <button type="button" class="btn" style="border: 1px solid;">{{ "sqrm.SQ_L14694" | translate }}</button>&nbsp;
      <button type="button" class="btn" style="border: 1px solid;">{{ "sqrm.SQ_L14695" | translate }}</button>&nbsp;
      </div>
    </div>
  
    <div class="sub-screen-container">
      <wj-multi-row #returnedSamplesGrid
        [headersVisibility]="'Column'" 
        [selectionMode]="'None'"
        [itemsSource]="SampleData"
     
      >

        <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="scope" [header]="'sqrm.SQ_L14696' | translate" [minWidth]="50">
          <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
            <input type="checkbox">
          </ng-template>
        </wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="progressCustomer" [header]="'sqrm.SQ_L14697' | translate" [minWidth]="200"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="progressAnalysis" [header]="'sqrm.SQ_L14698' | translate" [minWidth]="200"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="receptionNo" [header]="'sqrm.SQ_L14683' | translate" [minWidth]="200"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="urgencyReport" [header]="'sqrm.SQ_L14699' | translate" [minWidth]="200"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="customerName" [header]="'sqrm.SQ_L14686' | translate" [minWidth]="200"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="productCategory" [header]="'sqrm.SQ_L14682' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="productName" [header]="'sqrm.SQ_L14685' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="failuremode" [header]="'sqrm.SQ_L14700' | translate" [minWidth]="200"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="receptionDate" [header]="'sqrm.SQ_L14684' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="businessGroup" [header]="'sqrm.SQ_L14701' | translate" [minWidth]="300"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

      </wj-multi-row>
    </div>
  </div>

  