<!-- LSI request -->
<div class="sub-screen">
  <div class="sub-screen-title">
      <div *ngIf = "currentRoute === 'mdd-answer'">
        {{ "sqrm.SQ_L01011" | translate }}
      </div>
      <div *ngIf = "currentRoute === 'mdd-answer'">
        <button class="btn btn-secondary">{{ "sqrm.SQ_L01024" | translate }}</button>
      </div>
      <div *ngIf = "currentRoute === 'mdd-approval'">
        {{ "sqrm.SQ_L01014" | translate }}
      </div>
  </div>
  <div class="sub-screen-container">
    <div>
      <textarea class="form-textarea style1"  disabled="{'disabled': currentRoute === 'mdd-answer' || currentRoute ==='mdd-approval'}"></textarea>
    </div>
  </div>
</div>