<div class="search-list-survey-requests page-content">
  <div class="main-screen">
    <p class="main-screen-title">{{ "sqrm.SQ_L14467" | translate }}</p>
  </div>

  <div class="sub-screen">
    <div class="sub-screen-title">{{ "sqrm.SQ_L14468" | translate }}
      <a href="#" style="float: right;"><u>{{ "sqrm.SQ_L14469" | translate }}</u></a>
    </div>
    <div class="sub-screen-container">
      <table>
        <tr>
          <td><p class="required">{{ "sqrm.SQ_L14470" | translate }}</p></td>
          <td>
            <select>
              <option>LSI</option>
              <option></option>
            </select>
          </td>
          <td><p>{{ "sqrm.SQ_L14471" | translate }}</p></td>
        <td><select style="width: 70%;">
          <option>-</option>
          <option></option>
        </select>&nbsp;
          <select>
            <option>-</option>
            <option></option>
          </select>
        </td>
          <td><p>{{ "sqrm.SQ_L14472" | translate }}</p></td>
          <td>
            <input type="text" class="text" style="width: calc(100% - 18px)"/>
          </td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14473" | translate }}</p></td>
          <td>
            <input type="text" class="text" style="width: calc(100% - 18px)">
          </td>
          <td><p>{{ "sqrm.SQ_L14474" | translate }}</p></td>
          <td><wj-input-date id="reportDateInit" format="yyyy/MM/dd" style="width: 45%;"></wj-input-date>&nbsp;-&nbsp;
            <wj-input-date id="reportDateInit" format="yyyy/MM/dd" style="width: 45%;"></wj-input-date></td>
          <td><p>{{ "sqrm.SQ_L14475" | translate }}</p></td>
          <td><select style="width: 100%;"><option>ITS-LSI</option></select></td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14476" | translate }}</p></td>
          <td><input type="text" class="text" style="width: calc(100% - 18px);"></td>
          <td><p>{{ "sqrm.SQ_L14477" | translate }}</p></td>
          <td><wj-input-date id="reportDateInit" format="yyyy/MM/dd" style="width: 45%;"></wj-input-date>&nbsp;-&nbsp;
            <wj-input-date id="reportDateInit" format="yyyy/MM/dd" style="width: 45%;"></wj-input-date></td>
          <td><p>{{ "sqrm.SQ_L14478" | translate }}</p></td>
          <td><select style="width: 100%;"><option>-</option></select></td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14479" | translate }}</p></td>
          <td><input type="text" class="text" style="width: calc(100% - 18px)"></td>
          <td><p>{{ "sqrm.SQ_L14480" | translate }}</p></td>
          <td><input type="text" class="text" style="width: calc(80% - 18px)"></td>
          <td><p>{{ "sqrm.SQ_L14481" | translate }}</p></td>
        <td><input type="text" class="text" style="width:calc(100%-18px)">
        <button type="button" class="btn btn-secondary" style="margin-top: 5px;">{{ "sqrm.SQ_L14482" | translate }}</button></td>
        </tr>
      </table>
      <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14505" | translate }}</button>&nbsp;
      <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14483" | translate }}</button>
    </div>
  </div>

  <div class="sub-screen-title">
    {{ "sqrm.SQ_L14484" | translate }}
    <a href="#" style="float: right;"><u>{{ "sqrm.SQ_L14485" | translate }}</u></a>
  </div>

  <div class="tblcheck" style="border: 1px solid #757474;padding:2px;padding-bottom: 20px;">
    <tr class="div">
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span> 
    <label class="div-cell">{{ "sqrm.SQ_L14486" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14487" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14488" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14489" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14490" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14491" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14492" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14493" | translate }}
    </label>

      <input type="checkbox" checked="checked">
      <span class="checkmark"></span> 
    <label class="div-cell">{{ "sqrm.SQ_L14494" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14495" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14496" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14497" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14498" | translate }}
    </label></tr>
    <tr class="div">
    <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14499" | translate }}
    </label>
    <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14500" | translate }}
    </label>
    <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14501" | translate }}
    </label>
    <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14502" | translate }}
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
      
    <div class="btnright" style="padding:5px;">
      <button type="button" class="btn" style="border: 1px solid;">{{ "sqrm.SQ_L14503" | translate }}</button>&nbsp;
      <button type="button" class="btn" style="border: 1px solid;">{{ "sqrm.SQ_L14504" | translate }}</button>
    </div></tr>
    </div>

    <div class="sub-screen-container">
      <div class="sub-screen-title">{{ "sqrm.SQ_L14506" | translate }}&nbsp;
        {{ "sqrm.SQ_L14507" | translate }}&nbsp;
        {{ "sqrm.SQ_L14508" | translate }}&nbsp;-&nbsp;
        {{ "sqrm.SQ_L14509" | translate }}
       
        <div class="btnright">
            <button type="button" class="btn" style="border:1px solid">{{ "sqrm.SQ_L14514" | translate }}</button>&nbsp;
            <button type="button" class="btn" style="border:1px solid">{{ "sqrm.SQ_L14515" | translate }}</button>
        </div>
      </div>
      </div>

      <div class="sub-screen-container">
        <wj-multi-row #returnedSamplesGrid
          [headersVisibility]="'Column'" 
          [selectionMode]="'None'"
          [itemsSource]="SampleData"
       
        >

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="status" [header]="'sqrm.SQ_L14486' | translate" [minWidth]="150"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="requestNo" [header]="'sqrm.SQ_L14487' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="ver" [header]="'sqrm.SQ_L14488' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="receptionNo" [header]="'sqrm.SQ_L14489' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="receptionDate" [header]="'sqrm.SQ_L14490' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="sampleNo" [header]="'sqrm.SQ_L14491' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="customerName" [header]="'sqrm.SQ_L14492' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="productName" [header]="'sqrm.SQ_L14493' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="numberOfAnalysisRequest" [header]="'sqrm.SQ_L14494' | translate" [minWidth]="300"></wj-multi-row-cell>
        </wj-multi-row-cell-group>

        <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="requester" [header]="'sqrm.SQ_L14516' | translate" [minWidth]="100"></wj-multi-row-cell>
        </wj-multi-row-cell-group>
  
          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="requestedSection" [header]="'sqrm.SQ_L14510' | translate" [minWidth]="200">
            </wj-multi-row-cell>
            <wj-multi-row-cell binding="personInCharge" [header]="'sqrm.SQ_L14511' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="requestDate" [header]="'sqrm.SQ_L14497' | translate" [minWidth]="100"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

  
          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="requiredReportDateInitial" [header]="'sqrm.SQ_L14512' | translate" [minWidth]="200">
            </wj-multi-row-cell>
            <wj-multi-row-cell binding="requiredReportDateFsinal" [header]="'sqrm.SQ_L14513' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="reportDate" [header]="'sqrm.SQ_L14499' | translate" [minWidth]="100"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="reportTat" [header]="'sqrm.SQ_L14500' | translate" [minWidth]="100"></wj-multi-row-cell>
          </wj-multi-row-cell-group>
  
        </wj-multi-row>
      </div>




  