<div class="sub-screen">
  <div class="sub-screen-title">
    <p>{{ "sqrm.SQ_L02156" | translate }}<span style="color:red;">&nbsp;{{ "sqrm.SQ_L02157" | translate }}</span></p>
    <div class="btnright" style="float: right;">
    <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L02158" | translate }}</button>&nbsp;
    <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L02159" | translate }}</button>&nbsp;
    <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L02160" | translate }}</button>
  </div>
  </div>
</div>
