<div class="page-content">
    <div class="main-screen">
        <p class="main-screen-title">{{ "sqrm.SQ_L01000" | translate }}</p>
        <button class="btn btn-primary btn-fw" (click)="showNavigationDialog()">{{ "sqrm.SQ_L01015" | translate }}</button>
    </div>
    <app-main-screen-links></app-main-screen-links>
    <app-outline-request-lsi></app-outline-request-lsi>
    <app-information-returned-samples-lsi></app-information-returned-samples-lsi>
    <app-workflow-lsi></app-workflow-lsi>
    <app-select-destination-request-lsi></app-select-destination-request-lsi>
    <app-email-destination-request-lsi></app-email-destination-request-lsi>
    
    <app-footer-lsi></app-footer-lsi>

  </div>