<div class="page-content">
    <div class="main-screen">
        <p class="main-screen-title">{{ "sqrm.SQ_L05000" | translate }}</p>
        <button class="btn btn-primary btn-fw">{{ "sqrm.SQ_L05015" | translate }}</button>
    </div>
    <app-main-screen-links></app-main-screen-links>
    <app-outline-request-mdd></app-outline-request-mdd>
    <app-information-returned-samples-mdd></app-information-returned-samples-mdd>
    <app-attached-file-mdd></app-attached-file-mdd>
    <app-remarks-mdd></app-remarks-mdd>
    <app-workflow-mdd></app-workflow-mdd>
    <app-select-destination-request-mdd></app-select-destination-request-mdd>
    <app-email-destination-request-mdd></app-email-destination-request-mdd>
    <app-select-destination-analysis-mdd></app-select-destination-analysis-mdd>
    <app-email-destination-analysis-mdd></app-email-destination-analysis-mdd>
    <app-footer-mdd></app-footer-mdd>

  </div>