<div class="sub-screen">
  <div class="sub-screen-title">
    <div class="header-title">
      <span>{{ "sqrm.SQ_L00167" | translate }}</span>
      <span>{{ "sqrm.SQ_L00168" | translate }}</span>
    </div>
    <div class="actions">
      <button class="btn btn-secondary">{{ "sqrm.SQ_L00169" | translate }}</button>
      <button class="btn btn-secondary">{{ "sqrm.SQ_L00170" | translate }}</button>
      <button class="btn btn-secondary">{{ "sqrm.SQ_L00171" | translate }}</button>
    </div>
  </div>
  <div class="sub-screen-container">
    
  </div>
</div>