<div class="search-reception-list page-content">
  <div class="main-screen">
    <p class="main-screen-title">{{ "sqrm.SQ_L14596" | translate }}</p>
  </div>

  <div class="sub-screen">
    <div class="sub-screen-title">{{ "sqrm.SQ_L14597" | translate }}
      <a href="#" style="float: right;"><u>{{ "sqrm.SQ_L14598" | translate }}</u></a>
    </div>
    <div class="sub-screen-container">
      <table>
        <tr>
          <td><p class="required">{{ "sqrm.SQ_L14599" | translate }}</p></td>
          <td>
            <select>
              <option>LSI</option>
              <option></option>
            </select>
          </td>
          <td><p>{{ "sqrm.SQ_L14600" | translate }}</p></td>
        <td><wj-multi-select #theMultiSelect
          text=""
          [itemsSource]="testSelect"
          [isDroppedDown]="false"
          [isAnimated]="true"
          ></wj-multi-select>&nbsp;
          <select>
            <option>-</option>
            <option></option>
          </select>
        </td>
          <td><p>{{ "sqrm.SQ_L14601" | translate }}</p></td>
          <td>
            <input type="text" class="text" style="width: calc(100% - 18px)"/>
          </td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14602" | translate }}</p></td>
          <td>
            <input type="text" class="text" style="width: calc(100% - 18px)">
          </td>
          <td><p>{{ "sqrm.SQ_L14603" | translate }}</p></td>
          <td><wj-input-date id="reportDateInit" format="yyyy/MM/dd" style="width: 47%;"></wj-input-date>&nbsp;-&nbsp;
            <wj-input-date id="reportDateInit" format="yyyy/MM/dd" style="width: 47%;"></wj-input-date></td>
          <td><p>{{ "sqrm.SQ_L14604" | translate }}</p></td>
          <td><select style="width: 100%;"><option>-</option></select></td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14605" | translate }}</p></td>
          <td><input type="text" class="text" style="width: calc(100% - 18px);"></td>
          <td><p>{{ "sqrm.SQ_L14606" | translate }}</p></td>
          <td><input type="text" class="text" style="width: calc(100% - 18px);">
            <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14607" | translate }}</button></td>
          <td><p>{{ "sqrm.SQ_L14608" | translate }}</p></td>
          <td><select style="width: 100%;"><option>-</option></select></td>
        </tr>
        <tr>
          <td><p>{{ "sqrm.SQ_L14609" | translate }}</p></td>
          <td><select><option>-</option></select></td>
          <td><p>{{ "sqrm.SQ_L14610" | translate }}</p></td>
        <td><select style="width: 70%;"><option>-</option></select>&nbsp;
        <select><option>-</option></select></td>
        <td><p>{{ "sqrm.SQ_L14611" | translate }}</p></td>
        <td><input type="checkbox" style="width: auto;">{{ "sqrm.SQ_L14612" | translate }}
        <input type="checkbox" style="width: auto;">{{ "sqrm.SQ_L14613" | translate }}</td>
        </tr>
      </table>
      <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14668" | translate }}</button>
      <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L14614" | translate }}</button>
    </div>
  </div>

  <div class="sub-screen-title">
    {{ "sqrm.SQ_L14615" | translate }}
    <a href="#" style="float: right;"><u>{{ "sqrm.SQ_L14598" | translate }}</u></a>
  </div>

  <div class="tblcheck" style="border: 1px solid #757474;padding:2px;padding-bottom: 20px;">
    <tr class="div">
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span> 
    <label class="div-cell">{{ "sqrm.SQ_L14616" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14617" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14618" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14619" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14620" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14621" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14622" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14623" | translate }}
    </label></tr>


    <tr class="div">
      <input type="checkbox">
      <span class="checkmark"></span> 
    <label class="div-cell">{{ "sqrm.SQ_L14624" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14625" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14626" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14627" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14628" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14629" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14630" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14631" | translate }}
    </label></tr>


    <tr class="div">
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14632" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14633" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14634" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14635" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14636" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14637" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14638" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14639" | translate }}
    </label></tr>


    <tr class="div">
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14640" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14641" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14642" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14643" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14644" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14645" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14646" | translate }}
    </label>
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14647" | translate }}
    </label></tr>


    <tr class="div">
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14648" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14649" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14650" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14651" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14652" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14653" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14654" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14655" | translate }}
    </label></tr>


    <tr class="div">
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14656" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14657" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14658" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14659" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14660" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14661" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14662" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14663" | translate }}
    </label></tr>

    <tr class="div">
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14664" | translate }}
    </label>
      <input type="checkbox">
      <span class="checkmark"></span>
    <label class="div-cell">{{ "sqrm.SQ_L14665" | translate }}
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>
    <label class="div-cell">
    </label>

    
   
    <div class="btnright" style="padding:5px;">
      <button type="button" class="btn" style="border: 1px solid;">{{ "sqrm.SQ_L14666" | translate }}</button>&nbsp;
      <button type="button" class="btn" style="border: 1px solid;">{{ "sqrm.SQ_L14667" | translate }}</button>
    </div> </tr>
    </div>

    <div class="sub-screen">
      <div class="sub-screen-title">
        {{ "sqrm.SQ_L14671" | translate }}
          {{ "sqrm.SQ_L14672" | translate }}&nbsp;
          {{ "sqrm.SQ_L14673" | translate }}&nbsp;-&nbsp;
          {{ "sqrm.SQ_L14674" | translate }}
        
        <div class="sub-screen-title-right" style="float: right;">
          {{ "sqrm.SQ_L14675" | translate }}
        <button type="button" class="btn" style="border: 1px solid;">{{ "sqrm.SQ_L14676" | translate }}</button>&nbsp;
        <button type="button" class="btn" style="border: 1px solid;">{{ "sqrm.SQ_L14677" | translate }}</button>&nbsp;
        </div>
      </div>
    
      <div class="sub-screen-container">
        <wj-multi-row #returnedSamplesGrid
          [headersVisibility]="'Column'" 
          [selectionMode]="'None'"
          [itemsSource]="SampleData"
       
        >
  
          <wj-multi-row-cell-group>
          <wj-multi-row-cell binding="navi" [header]="'sqrm.SQ_L14669' | translate" [minWidth]="50">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
              <button type="button" class="btn" style="border: 1px solid;">Navi</button>
            </ng-template>
          </wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="progresscustomer" [header]="'sqrm.SQ_L14616' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="progressanalysis" [header]="'sqrm.SQ_L14617' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="registrationcategory" [header]="'sqrm.SQ_L14618' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="receptionNo" [header]="'sqrm.SQ_L14619' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="customerRequestNo" [header]="'sqrm.SQ_L14620' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="urgencyreport" [header]="'sqrm.SQ_L14621' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="processfailure" [header]="'sqrm.SQ_L14622' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="detailprocessfailure" [header]="'sqrm.SQ_L14670' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="customername" [header]="'sqrm.SQ_L14626' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="productcategory" [header]="'sqrm.SQ_L14627' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="productname" [header]="'sqrm.SQ_L14628' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="returnedqty" [header]="'sqrm.SQ_L14629' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="customerRequestDate" [header]="'sqrm.SQ_L14630' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="receptionDate" [header]="'sqrm.SQ_L14631' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="requiredReportDateInitial" [header]="'sqrm.SQ_L14632' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="tatinitialreport" [header]="'sqrm.SQ_L14633' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="reportDateInitial" [header]="'sqrm.SQ_L14634' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="requiredReportDateFinal" [header]="'sqrm.SQ_L14635' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="tatfinalreport" [header]="'sqrm.SQ_L14636' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="reportDateFinal" [header]="'sqrm.SQ_L14638' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="additionalreportdata" [header]="'sqrm.SQ_L14639' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="elapsedDaysWD" [header]="'sqrm.SQ_L14640' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="elapsedDaysNWD" [header]="'sqrm.SQ_L14641' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="initialtatWD" [header]="'sqrm.SQ_L14642' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="finaltatNWD" [header]="'sqrm.SQ_L14645' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="customerrepresentative" [header]="'sqrm.SQ_L14646' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>

          <wj-multi-row-cell-group>
            <wj-multi-row-cell binding="failuremodeoutlinerequest" [header]="'sqrm.SQ_L14647' | translate" [minWidth]="200"></wj-multi-row-cell>
          </wj-multi-row-cell-group>
  
        </wj-multi-row>
      </div>
    </div>

  