<div class="sub-screen">
    <div class="sub-screen-title">
        <div class="header-title">
            <span class="required">{{ "sqrm.SQ_L01012" | translate }}</span>
            <div class="checkbox-input">
              <input id="finalReport" type="checkbox" />
              <label for="finalReport">{{ "sqrm.SQ_L01076" | translate }}</label>
            </div>
          </div>      
          <div class="actions">
            <p>{{ "sqrm.SQ_L01077" | translate  }}</p>
            <p>{{ "sqrm.SQ_L01078" | translate  }}</p>
            <button class="btn btn-secondary">{{ "sqrm.SQ_L01018" | translate }}</button>
            <button class="btn btn-secondary">{{ "sqrm.SQ_L01019" | translate }}</button>
            <div class="pagination-container">
              <p>{{ currentPage }}</p>
              <select>
                <option *ngFor="let i of pages">{{ i }} - {{ totalPages }}</option>
              </select>
            </div>
            <button class="btn btn-secondary" style="margin-left: 10px;">{{ "sqrm.SQ_L01017" | translate }}</button>
            <select [(ngModel)]="selectedCategory" (change)="onChangeCategory()">
                <option *ngFor="let i of categoryDropdown" value="{{i}}">{{i}}</option>
            </select>
          </div>
    </div>
    <div class="sub-screen-container">
        <!-- LSI || IS || DD -->
        <wj-multi-row #returnedSamplesGrid
            [headersVisibility]="'Column'" 
            [selectionMode]="'None'"
            [itemsSource]="returnedSamplesData"
            *ngIf="(selectedCategory === 'LSI' || selectedCategory === 'IS' || selectedCategory === 'DD') && currentRoute.includes('request')">
            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding='scope' header="{{ 'sqrm.SQ_L01062' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="140"  >
                    <ng-template wjMultiRowCellTemplate [cellType]="'ColumnHeader'" let-cell="cell">
                        <div style="display: block;justify-content: lfet;">
                            <div style="display:block">{{ 'sqrm.SQ_L01062' | translate }}</div>
                            <button class="btn btn-secondary" (click)="deselectAllScope()">{{ 'sqrm.SQ_L01025' | translate }}</button>  
                        </div>
                    </ng-template>
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                        <input type="checkbox" [(ngModel)]="cell.item.scope" />
                    </ng-template>
                </wj-multi-row-cell>
            </wj-multi-row-cell-group>
    
            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="receptionNo" header="{{ 'sqrm.SQ_L01045' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="140" [allowMerging]='true'></wj-multi-row-cell>
                <wj-multi-row-cell binding="receptionDate" header="{{ 'sqrm.SQ_L01046' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="140" [allowMerging]='true'></wj-multi-row-cell>
            </wj-multi-row-cell-group>
    
            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="customerName" header="{{ 'sqrm.SQ_L01047' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="140" [allowMerging]='true'></wj-multi-row-cell>
                <wj-multi-row-cell header="{{ 'sqrm.SQ_L01048' | translate }} " [allowSorting]='false'
                    [align]="'center'" binding="productName" [width]="140" [allowMerging]='true'></wj-multi-row-cell>
            </wj-multi-row-cell-group>
    
            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="customerSampleNo" header="{{ 'sqrm.SQ_L01049' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="200" [allowMerging]='true'></wj-multi-row-cell>
                <wj-multi-row-cell binding="sonySampleNo" header="{{ 'sqrm.SQ_L01050' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="200" [allowMerging]='true'></wj-multi-row-cell>
            </wj-multi-row-cell-group>
    
            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="markLotNo" header="{{ 'sqrm.SQ_L01051' | translate }}" [allowSorting]='false'
                    [align]="'center'"  [width]="140" [allowMerging]='true'></wj-multi-row-cell>
                <wj-multi-row-cell binding="id" header="{{ 'sqrm.SQ_L01052' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="140" [allowMerging]='true'></wj-multi-row-cell>
            </wj-multi-row-cell-group>
    
            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="dateOfFailureOccurence" header="{{ 'sqrm.SQ_L01053' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="200" [allowMerging]='true'></wj-multi-row-cell> 
                <wj-multi-row-cell binding="regionOfFailure" header="{{ 'sqrm.SQ_L01054' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="200" [allowMerging]='true'></wj-multi-row-cell>
            </wj-multi-row-cell-group>
    
                <wj-multi-row-cell-group>
                <wj-multi-row-cell binding='failureMode' header="{{ 'sqrm.SQ_L01055' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="140"  ></wj-multi-row-cell>
                </wj-multi-row-cell-group>
        
        
                <wj-multi-row-cell-group>
                    <wj-multi-row-cell binding='detailsOfFailureMode' header="{{ 'sqrm.SQ_L01056' | translate }}" [allowSorting]='false'
                        [align]="'center'" [width]="300"></wj-multi-row-cell>
                </wj-multi-row-cell-group>

                <ng-container *ngIf="selectedCategory === 'IS'">
                    <wj-multi-row-cell-group>
                        <wj-multi-row-cell binding='whitePixel' header="{{ 'sqrm.SQ_L03117' | translate }}" [allowSorting]='false'
                            [align]="'center'" [width]="140"></wj-multi-row-cell>
                    </wj-multi-row-cell-group>

                    <wj-multi-row-cell-group>
                        <wj-multi-row-cell binding='test' header="{{ 'sqrm.SQ_L03118' | translate }}" [allowSorting]='false'
                            [align]="'center'" [width]="140"></wj-multi-row-cell>
                    </wj-multi-row-cell-group>

                    <wj-multi-row-cell-group>
                        <wj-multi-row-cell binding='solder' header="{{ 'sqrm.SQ_L03121' | translate }}" [allowSorting]='false'
                            [align]="'center'" [width]="140"></wj-multi-row-cell>
                    </wj-multi-row-cell-group>
                </ng-container>

                <wj-multi-row-cell-group>
                <wj-multi-row-cell binding='active' header="{{ 'sqrm.SQ_L01020' | translate }}" [allowSorting]='false'
                    [align]="'center'" [width]="'*'"  >
                    <ng-template wjMultiRowCellTemplate [cellType]="'Cell'" let-cell="cell" let-item="item">
                        <button class="btn btn-secondary">Delete</button>
                    </ng-template>
                </wj-multi-row-cell>
            </wj-multi-row-cell-group>
        </wj-multi-row>

        <wj-multi-row #returnedSamplesGrid
            [frozenColumns]="3"
            [headersVisibility]="'Column'" 
            [selectionMode]="'None'"
            [itemsSource]="returnedSamplesData"
            *ngIf="selectedCategory === 'Laser' || currentRoute.includes('answer') || currentRoute.includes('approval')">
            
            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="receptionNo" header="{{ 'sqrm.SQ_L06045' | translate }}" [width]="150"></wj-multi-row-cell>
                <wj-multi-row-cell binding="receptionDate" header="{{ 'sqrm.SQ_L06046' | translate }}" [width]="150"></wj-multi-row-cell>
            </wj-multi-row-cell-group>
    
            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="customerName" header="{{ 'sqrm.SQ_L06047' | translate }}" [width]="150"></wj-multi-row-cell>
                <wj-multi-row-cell binding="productName" header="{{ 'sqrm.SQ_L06048' | translate }}" [width]="150"></wj-multi-row-cell>
            </wj-multi-row-cell-group>

            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="customerSampleNo" header="{{ 'sqrm.SQ_L06049' | translate }}" [width]="250"></wj-multi-row-cell>
                <wj-multi-row-cell binding="sonySampleNo" header="{{ 'sqrm.SQ_L06050' | translate }}" [width]="250"></wj-multi-row-cell>
            </wj-multi-row-cell-group>

            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="markLotNo" header="{{ 'sqrm.SQ_L06051' | translate }}" [width]="150"></wj-multi-row-cell>
                <wj-multi-row-cell binding="id" header="{{ 'sqrm.SQ_L06052' | translate }}" [width]="150"></wj-multi-row-cell>
            </wj-multi-row-cell-group>

            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="dateOfFailureOccurence" header="{{ 'sqrm.SQ_L06053' | translate }}" [width]="200"></wj-multi-row-cell>
                <wj-multi-row-cell binding="regionOfFailure" header="{{ 'sqrm.SQ_L06054' | translate }}" [width]="200"></wj-multi-row-cell>
            </wj-multi-row-cell-group>

            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="processOfFailure" header="{{ 'sqrm.SQ_L06063' | translate }}" [width]="200"></wj-multi-row-cell>
                <wj-multi-row-cell binding="detailProcessOfFailure" header="{{ 'sqrm.SQ_L06064' | translate }}" [width]="200"></wj-multi-row-cell>
            </wj-multi-row-cell-group>

            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="failureMode" header="{{ 'sqrm.SQ_L06065' | translate }}"></wj-multi-row-cell>
            </wj-multi-row-cell-group>

            <wj-multi-row-cell-group>
                <wj-multi-row-cell binding="detailsOfFailureMode" header="{{ 'sqrm.SQ_L06066' | translate }}" [width]="250">
                <ng-template wjMultiRowCellTemplate [cellType]="'ColumnHeader'" let-cell="cell">
                        <div style="display:block;">{{ 'sqrm.SQ_L06066' | translate }}</div>
                        <div style="display:block;">{{ 'sqrm.SQ_L06057' | translate }}</div>  
                </ng-template>
                </wj-multi-row-cell>
            </wj-multi-row-cell-group>

            <!-- Answer or Approval -->
            <ng-container *ngIf="currentRoute.includes('answer') || currentRoute.includes('approval')">
                <wj-multi-row-cell-group *ngIf="currentRoute === 'lsi-answer'">
                    <wj-multi-row-cell binding='tester' header="{{ 'sqrm.SQ_L01058' | translate }}" [allowSorting]='false'
                        [align]="'center'" [width]="250">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
                            <input type="text"/>
                            <button class="btn btn-secondary ml-10">Copy</button>
                        </ng-template>
                    </wj-multi-row-cell>
                  </wj-multi-row-cell-group>

                <wj-multi-row-cell-group *ngIf="currentRoute.includes('approval')">
                    <wj-multi-row-cell binding='tester' header="{{ 'sqrm.SQ_L01058' | translate }}" [allowSorting]='false'
                        [align]="'center'" [width]="250"></wj-multi-row-cell>
                </wj-multi-row-cell-group>

                <!-- Customer's set -->
                <wj-multi-row-cell-group *ngIf="currentRoute.includes('answer')">
                    <wj-multi-row-cell binding='tester' header="{{ 'sqrm.SQ_L01059' | translate }}" [allowSorting]='false'
                        [align]="'center'" [width]="250">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
                            <input type="text"/>
                            <button class="btn btn-secondary ml-10">Copy</button>
                        </ng-template>
                    </wj-multi-row-cell>
                </wj-multi-row-cell-group>

                <wj-multi-row-cell-group *ngIf="currentRoute.includes('approval')">
                    <wj-multi-row-cell binding='customersSet' header="{{ 'sqrm.SQ_L01059' | translate }}" [allowSorting]='false'
                        [align]="'center'" [width]="250"></wj-multi-row-cell>
                </wj-multi-row-cell-group>

                <!-- Evaluation board -->
                <wj-multi-row-cell-group *ngIf="currentRoute.includes('answer')">
                    <wj-multi-row-cell binding='evaluationBoard' header="{{ 'sqrm.SQ_L01060' | translate }}" [allowSorting]='false'
                        [align]="'center'" [width]="250">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
                            <input type="text"/>
                            <button class="btn btn-secondary ml-10">Copy</button>
                        </ng-template>
                    </wj-multi-row-cell>
                </wj-multi-row-cell-group>

                <wj-multi-row-cell-group *ngIf="currentRoute.includes('approval')">
                    <wj-multi-row-cell binding='evaluationBoard' header="{{ 'sqrm.SQ_L01060' | translate }}" [allowSorting]='false'
                        [align]="'center'" [width]="250" ml-10></wj-multi-row-cell>
                </wj-multi-row-cell-group>

                <!-- Details of analysis result -->
                <wj-multi-row-cell-group *ngIf="currentRoute.includes('answer')">
                    <wj-multi-row-cell binding='detailsOfAnalysisResult' header="{{ 'sqrm.SQ_L01056' | translate }}" [allowSorting]='false'
                        [align]="'left'" [width]="350" >
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
                        <textarea rows="2" style="width: 100%;"></textarea>
                        </ng-template>
                    </wj-multi-row-cell>
                </wj-multi-row-cell-group>

                <wj-multi-row-cell-group *ngIf="currentRoute.includes('approval')">
                    <wj-multi-row-cell binding='detailsOfAnalysisResult' header="{{ 'sqrm.SQ_L01056' | translate }}" [allowSorting]='false'
                        [align]="'left'" [width]="250"></wj-multi-row-cell>
                </wj-multi-row-cell-group>
            </ng-container>

            <ng-container *ngIf="currentRoute.includes('request')">
                <wj-multi-row-cell-group>
                    <wj-multi-row-cell binding="appearance" header="{{ 'sqrm.SQ_L06093' | translate }}" [width]="150">
                    <ng-template *ngIf="currentRoute === 'laser-answer'" wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
                        <select style="border: 1px solid rgba(0, 0, 0, 0.2);padding: 4px 8px;margin-right: 8px;width: 80px;">
                        <option>-</option>
                        </select>
                        <button class="btn btn-secondary">Copy</button>
                    </ng-template>
                    </wj-multi-row-cell>
                </wj-multi-row-cell-group>
    
                <wj-multi-row-cell-group>
                    <wj-multi-row-cell binding="nfpObserv" header="{{ 'sqrm.SQ_L06094' | translate }}" [width]="150">
                    <ng-template *ngIf="currentRoute === 'laser-answer'" wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
                        <select style="border: 1px solid rgba(0, 0, 0, 0.2);padding: 4px 8px;margin-right: 8px;width: 80px;">
                        <option>-</option>
                        </select>
                        <button class="btn btn-secondary">Copy</button>
                    </ng-template>
                    </wj-multi-row-cell>
                </wj-multi-row-cell-group>
    
                <wj-multi-row-cell-group>
                    <wj-multi-row-cell binding="electricalOptChar" header="{{ 'sqrm.SQ_L06095' | translate }}" [width]="250">
                    <ng-template *ngIf="currentRoute ==='laser-answer'" wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
                        <select style="border: 1px solid rgba(0, 0, 0, 0.2);padding: 4px 8px;margin-right: 8px;width: 140px;">
                        <option>-</option>
                        </select>
                        <button class="btn btn-secondary">Copy</button>
                    </ng-template>
                    </wj-multi-row-cell>
                </wj-multi-row-cell-group>
    
                <wj-multi-row-cell-group>
                    <wj-multi-row-cell binding="ldLeak" header="{{ 'sqrm.SQ_L06096' | translate }}" [width]="150">
                    <ng-template *ngIf="currentRoute ==='laser-answer'" wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
                        <select style="border: 1px solid rgba(0, 0, 0, 0.2);padding: 4px 8px;margin-right: 8px;width: 80px;">
                        <option>-</option>
                        </select>
                        <button class="btn btn-secondary">Copy</button>
                    </ng-template>
                    </wj-multi-row-cell>
                </wj-multi-row-cell-group>
    
                <wj-multi-row-cell-group>
                    <wj-multi-row-cell binding="detailAnalysisResult" header="{{ 'sqrm.SQ_L06097' | translate }}" [width]="250">
                    <ng-template wjMultiRowCellTemplate [cellType]="'ColumnHeader'" let-cell="cell" *ngIf="currentRoute ==='laser-answer'" >
                        <div style="display:block;">{{ 'sqrm.SQ_L06066' | translate }}</div>
                        <div style="display:block;">{{ 'sqrm.SQ_L06044' | translate }}</div>  
                    </ng-template>
                    <ng-template *ngIf="currentRoute ==='laser-answer'" wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
                        <textarea style="width:100%; overflow-y: scroll;"></textarea>
                    </ng-template>
                    </wj-multi-row-cell>
                </wj-multi-row-cell-group>
            </ng-container>
        </wj-multi-row>
    </div>
</div>