<div class="export-information-list page-content">
  <div class="main-screen">
    <p class="main-screen-title">{{ 'sqrm.SQ_L20000' | translate }}</p>
  </div>
  <div class="sub-screen">
    <div class="sub-screen-title">
      <p>{{ 'sqrm.SQ_L20001' | translate }}</p>
      <div class="actions">
        <a href="#">{{ 'sqrm.SQ_L20002' | translate }}</a>
      </div>
    </div>
    <div class="sub-screen-container">
      <table>
        <tr>
          <td class="label-cell">
            <p class="required">{{ 'sqrm.SQ_L20003' | translate }}</p>
          </td>
          <td>
            <select>
              <option>LSI</option>
            </select>
            <select>
              <option>-</option>
            </select>
          </td>
          <td class="label-cell">
            <p>{{ 'sqrm.SQ_L20004' | translate }}</p>
          </td>
          <td>
            <wj-input-date id="reportDateFinal" format="yyyy/MM/dd"></wj-input-date> -
            <wj-input-date id="reportDateFinal" format="yyyy/MM/dd"></wj-input-date>
          </td>
        </tr>
        <tr>
          <td class="label-cell">
            <p>{{ 'sqrm.SQ_L20005' | translate }}</p>
          </td>
          <td><input type="text"/></td>
          <td colspan="2"></td>
        </tr>
      </table>

      <div class="sub-screen">
        <div class="sub-screen-title" style="border-left:none; border-bottom:none">
          <div class="header-title">
            <button class="btn btn-primary">{{ 'sqrm.SQ_L20006' | translate }}</button>
            <button class="btn btn-primary">{{ 'sqrm.SQ_L20007' | translate }}</button>
          </div>
          <div style=" display: flex;flex-direction: row; column-gap: 10px;"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Required Data -->
  <div class="sub-screen">
    <div class="sub-screen-title">
      <p>{{ 'sqrm.SQ_L20008' | translate }}</p>
      <div class="actions">
        <a href="#">{{ 'sqrm.SQ_L20009' | translate }}</a>
      </div>
    </div>
    <div class="sub-screen-container">
      <div  class="box"> 
        <table class="style1">
          <tr>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20010' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20011' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20012' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20013' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20014' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20015' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20016' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20017' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20018' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20019' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20020' | translate }}</label></td>
          </tr>
          <tr>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20021' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20022' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20023' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20024' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20025' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20026' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20027' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20028' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20029' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20030' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20031' | translate }}</label></td>
          </tr>
          <tr>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20032' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20033' | translate }}</label></td>
            <td><label><input type="checkbox" name="checkbox" value="value">{{ 'sqrm.SQ_L20034' | translate }}</label></td>
            <td>
              <button class="btn btn-secondary">{{ 'sqrm.SQ_L20035' | translate }}</button>
              <button class="btn btn-secondary">{{ 'sqrm.SQ_L20036' | translate }}</button>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Search result -->
  <div class="sub-screen">
    <div class="sub-screen-title">
      <div>
        <p>{{ 'sqrm.SQ_L20037' | translate }} </p>
        <p>  2[1]-[2]</p>
      </div>
      <div class="actions">
        <button class="btn btn-primary">{{ 'sqrm.SQ_L20038' | translate }}</button>
        <button class="btn btn-primary">{{ 'sqrm.SQ_L20039' | translate }}</button>
      </div>
    </div>
    <div class="sub-screen-container">
      <wj-flex-grid  headersVisibility="Column" [itemsSource]="testData">
        <wj-flex-grid-column binding="exportControlNo" [header]="'sqrm.SQ_L20040' | translate" [width]="150"></wj-flex-grid-column>
        <wj-flex-grid-column binding="category" [header]="'sqrm.SQ_L20041' | translate" [width]="150"></wj-flex-grid-column>
        <wj-flex-grid-column binding="recipientGroup"  [header]="'sqrm.SQ_L20042' | translate" [width]="150"></wj-flex-grid-column>
        <wj-flex-grid-column binding="exportDate"  [width]="150" [header]="'sqrm.SQ_L20043' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="exportType" [width]="150" [header]="'sqrm.SQ_L20044' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="exportCountry" [width]="150" [header]="'sqrm.SQ_L20045' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="exportDestination" [width]="150" [header]="'sqrm.SQ_L20046' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="exportNumber" [width]="150" [header]="'sqrm.SQ_L20047' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="ses" [width]="150" [header]="'sqrm.SQ_L20048' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="exportReason" [width]="150" [header]="'sqrm.SQ_L20049' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="pnp" [width]="150" [header]="'sqrm.SQ_L20050' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="airWaybillNo" [width]="150" [header]="'sqrm.SQ_L20051' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="investigationRequestNo" [width]="250" [header]="'sqrm.SQ_L20052' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="relatedImportControlNoFrom" [width]="250" [header]="'sqrm.SQ_L20053' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="relatedImportControlNoTo" [width]="250" [header]="'sqrm.SQ_L20054' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="receptionNo" [width]="250" [header]="'sqrm.SQ_L20055' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="sample" [width]="250" [header]="'sqrm.SQ_L20056' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="freightName" [width]="250" [header]="'sqrm.SQ_L20057' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="qty" [width]="150" [header]="'sqrm.SQ_L20058' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="unitPrice" [width]="250" [header]="'sqrm.SQ_L20059' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="total" [width]="150" [header]="'sqrm.SQ_L20060' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="unit" [width]="150" [header]="'sqrm.SQ_L20061' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="actualSampleTreatment" [width]="250" [header]="'sqrm.SQ_L20062' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="Remarks" [width]="150" [header]="'sqrm.SQ_L20063' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="lastUpdate" [width]="150" [header]="'sqrm.SQ_L20064' | translate"></wj-flex-grid-column>
        <wj-flex-grid-column binding="lastUpdatedBy" [width]="150" [header]="'sqrm.SQ_L20065' | translate"></wj-flex-grid-column>
      </wj-flex-grid>
    </div>
  </div>

</div>