<div class="sub-screen">
  <div class="sub-screen-title">{{ "sqrm.SQ_L02257" | translate }}
  </div>
  <div class="sub-screen-container">
    <form>
      <table>
        <tr>
          <textarea type ="text" rows ="20" cols="100%" max=500 style="overflow-y: scroll;" readonly="readonly">
          To ---------------------
          Cc ---------------------
          Bcc --------------------
          From -------------------
          
          Subject
          
          Body
          Lorem ipsum
          Lorem ipsum
          Lorem ipsum
          Lorem ipsum
          Lorem ipsum
          Lorem ipsum
          
          Attached file
                test.pdf / 112.68KB
          
          Analysis report
                test.pdf
        </textarea>
        </tr>
      </table>
    </form>
  </div>
</div>
