<div class="processing page-content">
  <div class="main-screen">
    <p class="main-screen-title">{{ "sqrm.SQ_L02148" | translate }}</p>
  </div>

  <div class="sub-screen">
    <div class="sub-screen-title">
      <p>{{ "sqrm.SQ_L02149" | translate }}</p>
      <a href="#" style="float: right;"><u>Close</u></a>
    </div>
    <div class="sub-screen-container">
      <table>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02158" | translate }}</p></td>
          <td><select>
            <option>LSI</option>
            <option></option>
          </select></td>

          <td class="label-cell"><p>{{ "sqrm.SQ_L02104" | translate }}</p></td>
          <td>
            <select style="width: 50%;">
              <option>-</option>
              <option></option>
            </select>&nbsp;
            <select>
              <option>-</option>
              <option></option>
            </select>
          </td>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02105" | translate }}</p></td>
          <td>
            <input type="text" class="text" style="width: calc(100% - 18px);">
          </td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02106" | translate }}</p></td>
          <td><input type="text" class="text" style="width: calc(100% - 18px);"></td>

          <td class="label-cell"><p>{{ "sqrm.SQ_L02107" | translate }}</p></td>
          <td><wj-input-date [format]="'yyyy-MM-dd'" style="width: 80%;"></wj-input-date>&nbsp; -
            <wj-input-date [format]="'yyyy-MM-dd'" style="width: 80%;margin-top: 3px;"></wj-input-date></td>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02108" | translate }}</p></td>
          <td>
            <input type="text" class="text" style="width: calc(100% - 18px);">
            <button type="button" class="btn btn-secondary" style="margin-top: 3px;">{{ "sqrm.SQ_L02109" | translate }}</button>
          </td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02110" | translate }}</p></td>
          <td><select style="width: calc(50%);">
            <option>ITS-LSI</option>
            <option></option>
          </select>
          <select style="width: calc(60%);margin-top:3px;">
            <option>-</option>
            <option></option>
          </select></td>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02111" | translate }}</p></td>
          <td colspan="3">
            <select style="width: calc(68% - 18px);">
              <option>-</option>
              <option></option>
            </select>
            &nbsp;
            <input type="text" class="text" style="width: calc(30% - 18px)"/>
          </td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02112" | translate }}</p></td>
          <td><select style="width: 50%;">
            <option>-</option>
            <option></option>
          </select>
        <input type="checkbox" style="width: auto;">{{ "sqrm.SQ_L02113" | translate }}</td>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02114" | translate }}</p></td>
          <td colspan="3">
            <wj-input-date [format]="'yyyy-MM-dd'" style="width: 31%;"></wj-input-date>&nbsp;-&nbsp;
            <wj-input-date [format]="'yyyy-MM-dd'" style="width: 31%;"></wj-input-date>
            <input type="checkbox" style="width: auto;">{{ "sqrm.SQ_L02113" | translate }}</td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02115" | translate }}</p></td>
          <td><select style="width: 50%;">
            <option>-</option>
            <option></option>
          </select>
          <input type="checkbox" style="width: auto;">{{ "sqrm.SQ_L02113" | translate }}</td>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02116" | translate }}</p></td>
          <td colspan="3">
            <wj-input-date [format]="'yyyy-MM-dd'" style="width: 31%;"></wj-input-date>&nbsp;-&nbsp;
            <wj-input-date [format]="'yyyy-MM-dd'" style="width: 31%;"></wj-input-date>
            <input type="checkbox" style="width: auto;">{{ "sqrm.SQ_L02113" | translate }}</td>
        </tr>
      </table>

    <div class="sub-screen-container">
    <div class="file-upload">
      <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L02117" | translate }}</button>&nbsp;
      <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L02118" | translate }}</button>
      <button class="btn btn-secondary" style="float: right;">{{"sqrm.SQ_L02119" | translate }}</button>
      <input type="file" style="float: right;" />
    </div>

      <div class="sub-screen-title">
        <p>{{ "sqrm.SQ_L02120" | translate }}
          {{ "sqrm.SQ_L02154" | translate }}
          {{ "sqrm.SQ_L02155" | translate }} -
          {{ "sqrm.SQ_L02156" | translate }}</p>
        
        <div class="btnright" style="float: right;">
          <button type="button" class="btn" style="border:1px solid #757474;">{{ "sqrm.SQ_L02121" | translate }}</button>&nbsp;
          <button type="button" class="btn" style="border:1px solid #757474;">{{ "sqrm.SQ_L02122" | translate }}</button>
        </div>
      </div>
    
      <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L02123" | translate }}</button>&nbsp;
      <button type="button" class="btn btn-secondary">{{ "sqrm.SQ_L02124" | translate }}</button>
      <p style="text-align: center;float: right;font-size: 18px;">{{ "sqrm.SQ_L02125" | translate }}</p>

  <div class="sub-screen">
    <div class="sub-screen-container">
      <wj-multi-row #returnedSamplesGrid
        [headersVisibility]="'Column'" 
        [selectionMode]="'None'"
        [itemsSource]="returnedSamplesData"
     
      >

      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="select" [header]="'sqrm.SQ_L02126' | translate" [width]="50">
          <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
            <input type="checkbox" />
          </ng-template>
        </wj-multi-row-cell>
      </wj-multi-row-cell-group>
      
      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="receptionNo" [header]="'sqrm.SQ_L02106' | translate" [minWidth]="150"></wj-multi-row-cell>
        <wj-multi-row-cell binding="receptionDate" [header]="'sqrm.SQ_L02107' | translate" [minWidth]="150"></wj-multi-row-cell>
      </wj-multi-row-cell-group>
      
      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="customerName" [header]="'sqrm.SQ_L02108' | translate" [minWidth]="150"></wj-multi-row-cell>
        <wj-multi-row-cell binding="productName" [header]="'sqrm.SQ_L02105' | translate" [minWidth]="150"></wj-multi-row-cell>
      </wj-multi-row-cell-group>

      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="customerSampleNo" [header]="'sqrm.SQ_L02127' | translate" [minWidth]="150"></wj-multi-row-cell>
        <wj-multi-row-cell binding="sonySampleNo" [header]="'sqrm.SQ_L02128' | translate" [minWidth]="150"></wj-multi-row-cell>
      </wj-multi-row-cell-group>

      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="sampletreatment" [header]="'sqrm.SQ_L02129' | translate" [width]="250">
          
        </wj-multi-row-cell>
      </wj-multi-row-cell-group>

      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="confirmationsymptom" [header]="'sqrm.SQ_L02130' | translate" [width]="150">
         
        </wj-multi-row-cell>
      </wj-multi-row-cell-group>
      
      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="judgment" [header]="'sqrm.SQ_L02131' | translate" [minWidth]="150"></wj-multi-row-cell>
        <wj-multi-row-cell binding="responsibility" [header]="'sqrm.SQ_L02132' | translate" [minWidth]="150"></wj-multi-row-cell>
      </wj-multi-row-cell-group>
      
      <wj-multi-row-cell-group header="active">
        <wj-multi-row-cell binding='actualsampletreatment' header="{{ 'sqrm.IA_L0033160' | translate }}" [allowSorting]='false'
             [width]="200"  >
            <ng-template wjMultiRowCellTemplate [cellType]="'ColumnHeader'" let-cell="cell">
                <div style="display: block;justify-content: lfet;">
                    <div style="display:block">{{ 'sqrm.SQ_L02112' | translate }}</div>
                    <select style="width: 50%;"><option>-</option></select>&nbsp;
                    <button class="button">{{ 'sqrm.SQ_L02126' | translate }}</button>  
                </div>
            </ng-template>
            <ng-template wjMultiRowCellTemplate [cellType]="'Cell'" let-cell="cell" let-item="item">
                <select style="width: 100%;"><option>-</option></select>
            </ng-template>
        </wj-multi-row-cell>
        <wj-multi-row-cell binding="sameshipmentdate" [header]="'sqrm.SQ_L02114' | translate" [minWidth]="200">
          <ng-template wjMultiRowCellTemplate [cellType]="'Cell'" let-cell="cell" let-item="item">
            <wj-input-date [format]="'yyyy-MM-dd'"></wj-input-date>
        </ng-template>
        </wj-multi-row-cell>
    </wj-multi-row-cell-group>


    <wj-multi-row-cell-group header="active">
      <wj-multi-row-cell binding='sampletreatment' header="{{ 'sqrm.IA_L00160' | translate }}" [allowSorting]='false'
           [width]="200"  >
          <ng-template wjMultiRowCellTemplate [cellType]="'ColumnHeader'" let-cell="cell">
              <div style="display: block;justify-content: lfet;">
                  <div style="display:block">{{ 'sqrm.SQ_L02115' | translate }}</div>
                  <select style="width: 50%;"><option>-</option></select>&nbsp;
                  <button class="button">{{ 'sqrm.SQ_L02126' | translate }}</button>  
              </div>
          </ng-template>
          <ng-template wjMultiRowCellTemplate [cellType]="'Cell'" let-cell="cell" let-item="item">
            <select style="width: 100%;"><option>-</option></select>
        </ng-template>
      </wj-multi-row-cell>
  </wj-multi-row-cell-group>
      
      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="samplestatus" [header]="'sqrm.SQ_L02133' | translate" [minWidth]="300">
          <ng-template wjMultiRowCellTemplate [cellType]="'Cell'" let-cell="cell" let-item="item">
            <textarea type="textarea" row="4" style="overflow-y:scroll;"></textarea>
        </ng-template>
        </wj-multi-row-cell>
      </wj-multi-row-cell-group>
      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="disposalduedate" [header]="'sqrm.SQ_L02116' | translate" [minWidth]="200">
          <ng-template wjMultiRowCellTemplate [cellType]="'Cell'" let-cell="cell" let-item="item">
            <wj-input-date [format]="'yyyy-MM-dd'"></wj-input-date>
        </ng-template>
        </wj-multi-row-cell>
        <wj-multi-row-cell binding="disposaldate" [header]="'Disposal Date' | translate" [minWidth]="200">
          <ng-template wjMultiRowCellTemplate [cellType]="'Cell'" let-cell="cell" let-item="item">
            <wj-input-date [format]="'yyyy-MM-dd'"></wj-input-date>
        </ng-template>
        </wj-multi-row-cell>
      </wj-multi-row-cell-group>
      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="disposalcertificate" [header]="'Disposal certificate effective date' | translate" [minWidth]="250">
          <ng-template wjMultiRowCellTemplate [cellType]="'Cell'" let-cell="cell" let-item="item">
            <wj-input-date [format]="'yyyy-MM-dd'"></wj-input-date>
        </ng-template>
        </wj-multi-row-cell>
        <wj-multi-row-cell binding="disposedcheck" [header]="'Disposed Check' | translate" [minWidth]="250">
          <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
            <input type="checkbox" style="width: auto;" />
          </ng-template>
        </wj-multi-row-cell>
      </wj-multi-row-cell-group>
      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="certificateattachment" [header]="'Certificate Attachment' | translate" [width]="170">
          <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-item="item">
            <button class="button" (click)="showActions()">Certificate Attachment</button>
          </ng-template>
        </wj-multi-row-cell>
      </wj-multi-row-cell-group>
      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="remarks" [header]="'Remarks' | translate" [minWidth]="200">
          <ng-template wjMultiRowCellTemplate [cellType]="'Cell'" let-cell="cell" let-item="item">
            <textarea type="textarea" row="4" style="overflow-y:scroll;"></textarea>
        </ng-template>
        </wj-multi-row-cell>
      </wj-multi-row-cell-group>
      <wj-multi-row-cell-group>
        <wj-multi-row-cell binding="lastupdate" [header]="'Last Update' | translate" [minWidth]="200"></wj-multi-row-cell>
        <wj-multi-row-cell binding="lastupdatedby" [header]="'Last Updated By' | translate" [minWidth]="200"></wj-multi-row-cell>
      </wj-multi-row-cell-group>

      </wj-multi-row>
    </div>
  </div>
</div>
